{% extends 'base.html' %}
{% block content %}
{% include "parts/_navbar.html" %}
{% load static %}
<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>Car Articles</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
        {% if blog_list %}
        {% for blog in blog_list %}
        <div class="cardi">
                <img src="{{ blog.photo_main.url }}" class="card-img-top" alt="{{ blog.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.theme }}</h5>
                    <h6 class="card-title">{{ blog.title }}</h6>
                    <p class="card-text">{{ blog.text_area }}</p>
                    <p class="card-text d-flex" style="
    justify-content: space-between;"><small class="text-muted">Published: {{ blog.pub_date }}</small><small class="text-muted">By: {{blog.author_name}}</small></p>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <h2>Sorry there is no blogs now! Mabe later!</h2>
        {% endif %}
            <div class="col-12">
                <span class="p-3"></span>
                <div class="col-md-12">
                    {% if blog_list.has_other_pages %}
                    <nav aria-label="Pagination">
                        <ul class="pagination">
                            {% if blog_list.has_previous %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ blog_list.previous_page_number }}">Previous</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}
                            {% for i in blog_list.paginator.page_range %}
                            {% if blog_list.number == i %}
                            <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if blog_list.has_next %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ blog_list.next_page_number }}">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container site-section mb-5">
    <div class="row justify-content-center text-center">
        <div class="col-7 text-center mb-5">
            <h2>How it works</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius
                earum voluptates sed!</p>
        </div>
    </div>
</div>
{% endblock %}